<?xml version="1.0"?>
<launch>

  <group ns="small_scout_1">
    <node name="waypoint_checker_node" pkg="waypoint_checker" type="waypoint_checker_node" output="screen">
      <rosparam
       command="load"
       file="$(find waypoint_checker)/config/scout.yaml"
       subst_value="true"
     />
    </node>
  </group>

</launch>
